@model IEnumerable<Pocos.BankAccount>
@{
    ViewBag.Title = "GetAllBankAccounts";
}

<h2>GetAllBankAccounts</h2>

@Html.ActionLink("Manage Bank Accounts", "Index", "BankAccount")


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interestrate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccountTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interestrate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BankAccountId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BankAccountId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BankAccountId }) |
            @Html.ActionLink("Deposit", "Deposit", "Depositing", new { id = item.BankAccountId }, null) |
            @Html.ActionLink("Withdraw", "Withdraw", "Withdrawing", new { id = item.BankAccountId, typeId = item.BankAccountTypeId }, null)
        </td>
    </tr>
}

</table>
